*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text: #4a4a4a;
    --background: #1a1a1a;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav .dados-empresa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 20px;
}

.nav .dados-empresa .title{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: monospace;
}

.nav .dados-empresa .status{
    font-size: 1rem;
    font-weight: 500;
    font-family: monospace;
    padding: .5em 0;
}

.nav .dados-empresa .status .online{
    background-color: green;
    border-radius: 10px;
    padding: 0.1em .5em;
    color: #f8f5f5;
}

.menu-opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-opcoes .lista{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: start;
    overflow-x: auto;
    background-color: rgba(0, 0, 0, .1);
}
.menu-opcoes .lista::-webkit-scrollbar{
    height: 5px;
}
.menu-opcoes .lista::-webkit-scrollbar-thumb{
    background-color: #4a4a4a;
    border-radius: 0 15px 15px 0;
}

.menu-opcoes .lista .item{
    display: inline-block;
    padding: 1em;
    list-style: none;
    text-align: center;
}

.menu-opcoes .lista .item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    font-family: monospace;
    color: var(--text);
}

.title-cardapio{
    display: inline-block;
    width: 100%;
    font-size: 2em;
    font-weight: 600;
    font-family: monospace;
    color: var(--text);
    padding: 0 0 0 20px;
    margin: 20px 0;
    border-bottom: 1px solid rgba(0, 0, 0, .2);
}

.cardapio{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 20px;
    gap: 20px;
}

.cardapio .card{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    color: var(--text);
    cursor: pointer;
}


.cardapio .card .sessao1{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30%;
    user-select: none;
    cursor: pointer;
}
.cardapio .card .sessao1 img{
    width: 80px;
    height: auto;
    border-radius: 10px;
    cursor: pointer;
}
.cardapio .card .sessao2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    user-select: none;
    cursor: pointer;
}
.cardapio .card .sessao2 small{
    font-size: 1em;
    font-weight: 600;
    color: #7a7a7a;
    cursor: pointer;
}
.cardapio .card .sessao2 .btn-add-carrinho{
    width: 100%;
    background-color: #218838;
    color: white;
    text-align: center;
    padding: .5em 0;
    margin: .5em 0;
    border-radius: 5px;
    position: relative;
}
.cardapio .card .sessao2 .btn-add-carrinho svg{
    display: inline-block;
    position: absolute;
    left: 30%;
}

.sacola-compras{
    width: 80px;
    height: 80px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(33, 136, 56);
    box-shadow: 0 4px 8px rgba(0, 0, 0, .5);
    cursor: pointer;
}

.sacola-compras img{
    width: 50px;
    height: 50px;
}
.sacola-compras a{
    position: relative;
}

.sacola-compras a::after{
    content: var(--quantidade);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    color: rgb(33, 136, 56);
    font-weight: 600;
    font-family: monospace;
    font-size: 1.8em;
}

.pedido {
    position: fixed;
    top: 0;
    right: 0;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    height: 100%;
    overflow-y: auto;
}
.pedido .close-modal{
    cursor: pointer;
    font-size: 2em;
}
.pedido h2{
    display: inline-block;
    width: 100%;
    padding: 0 0 1em 0;
}

.pedido #pedidoForm .icone{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.pedido #pedidoForm .item-pedido{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}
.pedido #pedidoForm .item-pedido .icone img{
    width: 80px;
    height: auto;
    border-radius: 50%;
}
.pedido #pedidoForm .item-pedido .descricao{
    font-size: 1.5em;
    font-weight: 500;
    color: #4a4a4a;
    text-align: center;
    font-family: monospace;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido{
    display: flex;
    flex-direction: column;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido .informacoes-quantidade{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido .informacoes-quantidade .qtd-label{
    margin: .5em 0 0 0;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido .informacoes-quantidade .qtd-input{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: .5em 0 0 0;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido .informacoes-quantidade .minus,
.pedido #pedidoForm .item-pedido .informacoes-pedido .informacoes-quantidade .plus{
    margin: 0 .5em ;
}
.pedido #pedidoForm .item-pedido .informacoes-pedido .campo-valor{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    font-family: monospace;

}

.pedido form {
    display: flex;
    flex-direction: column;
}
.pedido input[type="number"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: 2px solid #28a745;
    border-radius: 5px;
    text-align: center;
    appearance: textfield; /* Remove setas padrão do navegador */
}
.pedido input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.pedido .minus, .pedido .plus {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}
.pedido input[type="number"] {
    width: 60px;
    text-align: center;
    font-size: 18px;
    border: 1px solid #ccc;
}
.pedido input[type="number"]::-webkit-outer-spin-button {
    opacity: 1;
    cursor: pointer;
    height: 20px;
    width: 20px;
}


.pedido label, input, textarea {
    margin-bottom: 10px;
}

.pedido button {
    background-color: #28a745;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
}

.pedido  button:hover {
    background-color: #218838;
}

.pedido .totalizador{
    display: inline-block;
    width: 100%;
    padding: .5em;
    font-family: monospace;
}
.pedido .totalizador p{
    border-bottom: 1px solid rgba(0, 0, 0, .5);
    padding: .5em 0;
}
.pedido .totalizador .vr-pedido
.pedido .totalizador .vr-pagar{
    background-color: #218838;
}
.pedido .totalizador .tx-entrega,
.pedido .totalizador .tx-maquininha{
    background-color: red;
}

.pedido .metodo-pagamento,
.pedido .entrega,
.pedido .troco,
.pedido .valor-troco{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;

}
.pedido .metodo-pagamento h3,
.pedido .entrega h3,
.pedido .troco,
.pedido .valor-troco{
    font-weight: 600;
    font-family: monospace;
    color: var(--text);
}
.pedido .metodo-pagamento select,
.pedido .entrega select,
.pedido .troco select{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: none;
    border: 2px solid transparent;
}
.pedido .detalhe-endereco,
.pedido .troco{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
    outline: none;
    border: 2px solid transparent;
}
.pedido .detalhe-endereco textarea,
.pedido #pedidoForm textarea,
.pedido .valor-troco textarea{
    width: 100%;
    padding: 10px 10px 15px 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    outline: none;
    border: 2px solid transparent;
}


.mensagem{
    display: flex;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    color: #f3f3f3;
    text-align: center;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.mensagem::after{
    content: 'Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima nulla fugit dolor suscipit eos distinctio delectus atque sapiente ut, enim soluta, maiores impedit amet culpa, voluptatibus sequi corrupti. Dignissimos expedita odio facere suscipit dolorem! Deleniti et mollitia reprehenderit doloremque impedit soluta praesentium accusamus. Nemo ducimus odit quasi pariatur, quod inventore.';
    width: 50%;
    line-height: 30px;
    font-size: 1.5em;
    font-family: monospace;
    z-index: 1002;
}

.mensagem::before{
    content: '';
    position: absolute;
    top: 0;
    left: 35%;
    width: 400px;
    height: 400px;
    z-index: 1001;
    background-image: url('https://media0.giphy.com/media/v1.Y2lkPTc5MGI3NjExZW9oNnUzN2x1YjR1OGp5Nm1iMWRtMjRtdno3MHQ4djFraXF3bHJxNSZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/TqiwHbFBaZ4ti/giphy.gif');
    background-size: auto;
    background-repeat: no-repeat;
}

.d-none{
    display: none !important;
}

.carregando{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.carregando::after{
    content: "Carregando...";
    font-size: 2em;
    font-weight: bold;
    color: var(--text);
    font-family: monospace;
}

.carregando::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid #f3f3f3; /* Cor de fundo */
    border-top: 10px solid var(--text); /* Cor da borda superior */
    border-radius: 50%;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width:501px) {
    .nav{
        flex-direction: column;
    }
    
    .nav .dados-empresa{

        align-items: center;

    }
    
    .nav .dados-empresa .title{
        font-size: 1.5rem;
        font-weight: 600;
        font-family: monospace;
    }
    
    .nav .dados-empresa .status{
        font-size: 1rem;
        font-weight: 500;
        font-family: monospace;
        padding: .5em 0;
    }
    
    .nav .dados-empresa .status .online{
        background-color: green;
        border-radius: 10px;
        padding: 0.1em .5em;
        color: #f8f5f5;
    }


}

@media screen and (max-width:400px) {
    .cardapio .card .sessao2 .btn-add-carrinho svg{
        left: 25%;
    }
}