*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text: #4a4a4a;
    --background: #1a1a1a;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.nav .dados-empresa{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    margin: 0 20px;
}

.nav .dados-empresa .title{
    font-size: 1.5rem;
    font-weight: 600;
    font-family: monospace;
}

.nav .dados-empresa .status{
    font-size: 1rem;
    font-weight: 500;
    font-family: monospace;
    padding: .5em 0;
}

.nav .dados-empresa .status .online{
    background-color: green;
    border-radius: 10px;
    padding: 0.1em .5em;
    color: #f8f5f5;
}

.menu-opcoes{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.menu-opcoes .lista{
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    text-align: center;
    overflow-x: auto;
}
.menu-opcoes .lista::-webkit-scrollbar{
    height: 5px;
}
.menu-opcoes .lista::-webkit-scrollbar-thumb{
    background-color: #4a4a4a;
    border-radius: 0 15px 15px 0;
}

.menu-opcoes .lista .item{
    display: inline-block;
    padding: 1em;
    list-style: none;
    text-align: center;
}

.menu-opcoes .lista .item a{
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    font-family: monospace;
    color: var(--text);
}